<div class="container mt-5">
  <h3>Pets de <%= @pessoa.nome %></h3> 
  <p><strong>Data de Nascimento: </strong><%= @pessoa.data_de_nascimento %></p>
  <p><strong>Idade: </strong><%= @idade %> anos</p>
  <table class="table">
    <thead>
      <tr>
        <th>Nome do Pet</th>
        <th>Tipo</th>
      </tr>
    </thead>
    <tbody>
      <% @animals.each do |animal| %>
        <tr>
          <td><%= animal.nome %></td>
          <td><%= animal.tipo %></td>
          <td><%= link_to 'Remover', animal_path(animal), method: :delete, data: { confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
