<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Dono</th>
        <th>Nome do Pet</th>
        <th>Tipo</th>
        <th>Custo Mensal</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @animals.each do |animal| %>
        <tr>
          <td><%= animal.pessoa.nome %></td>
          <td><%= animal.nome %></td>
          <td><%= animal.tipo %></td>
          <td><%= animal.custo_mensal %></td>
          <td><%= link_to 'Adicionar Novo Animal', new_pessoa_animal_path(animal.pessoa_id), class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
      
    </tbody>
  </table>
  
</div>